/* ommand+k →アトム画面に分割
セレクタ{プロパティ名：値；}

8
セレクタの詳細度　複数のセレクタでどれが優先されるか
(a)style=""
(b)id
(c)属性・擬似クラス
(d)要素・擬似要素
各一点　詳細度が高い方が優先される
点数同じなら、a,b,c,dの順で優先される
同じ詳細度だと、後に書いた方が優先される。
!importantで最優先（乱用はダメ）
a {color:skyblue !improtant} (skyblueの後の;は不要)

 */

/* 0,0,0,1 属性なし、要素名だけ */
a {color:skyblue !important;}
/* 0,0,1,1 属性が加わった 　上よりこっちが優先される*/
a.link{color:red;}
/* 0,0,1,1  後に書いた方が優先*/
a.search{color:orange;}
/* 0,1,0,1  bの方が高い*/
a#site{color:green;}
